{% extends "base.html" %}

{% block content %}

<div class="background-img">
    <h1 align="center">Добро пожаловать!</h1>
    <h3 class="slogan" align="center">Я помогу тебе с написанием и анализом текста.</h3>
    <img width="100%" src="https://media.lpgenerator.ru/uploads/2021/12/24/8.jpg">
</div>
<div class="our_brain">
    <h2 align="center">Знакомьтесь, это наш мозг.</h2>
    <a href="https://trends.rbc.ru/trends/industry/63a192819a79478fae5762ad"><img class="brain_img" width="300px" height="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/1200px-ChatGPT_logo.svg.png"></a>
    <h2 align="center">Нейросеть, разработанная компанией OpenAI</h2>
</div>
<div class="possibilities">
    <h2 class="border border-primary rounded-pill pos_text" align="center">Возможности для использования сервиса</h2>
    <div class="cards">
        <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Сочинения</h5>
        <p class="card-text">Искуственный интеллект поможет вам написать сочинение по абсолютно любой теме и абсолютно любого объёма</p>
        <a href="/composition" class="btn btn-primary">Перейти к написанию</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Пароли</h5>
        <p class="card-text">Также искуственный интеллект может помочь вам в написании пароля любой длины. В пароле используется исключительно латиница.</p>
        <a href="/password" class="btn btn-primary">Перейти к написанию</a>
      </div>
    </div>
  </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Анализ текста</h5>
        <p class="card-text">Искуственный интеллект поможет вам проанализировать текст (посчитать количество символов, слов и многое другое)</p>
        <a href="/analysis" class="btn btn-primary">Перейти к анализу</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Словарь</h5>
        <p class="card-text">Искуственный интеллект поможет объяснить непонятный вам термин со всеми подробностями. Он работает на русском и английском языках</p>
        <a href="/meaning" class="btn btn-primary">Перейти к словарю</a>
      </div>
    </div>
  </div>
</div>
    </div>
<h2 class="more" align="center">И другое...</h2>
<a href="/projects" class="btn btn-primary btn-lg more-btn">Смотреть всё</a>
</div>

</main>

<!-- Begin page content -->

{% endblock %}