{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<button type="button" class="btn btn-primary btn-slovar" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <h2 align="center">Пароль</h2>
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5" id="exampleModalLabel">Информация</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Правила пользования написанием пароля:<br><br>
          &#8226; Вводится только длина пароля, которая не должна быть отрицательной.<br><br>
          &#8226; Не рекомендуется генерировать пароль длиной больше 100 символов.<br><br>
          Примечания:<br><br>

          &#8226; Все пароли используют исключительно латиницу.<br><br>
          &#8226; По сложности пароли будут максимальный.<br><br>
          &#8226; Возможны погрешности в несколько символов.

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Принять</button>
      </div>
    </div>
  </div>
</div>
<div class="form length">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        <div class="field_item">
        <h3 class="label">{{ form.length_pass.label }}</h3><br>
        {{ form.length_pass(class="form-control") }}<br>
        </div>
        {% for error in form.length_pass.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </p>
        <p align="center">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </div>
        <div class="error-msg">
            <h3 align="center">{{ message }}</h3>
        </div>

    </form>
{% if answer %}
    <div class="answer">
        <h4 align="center">{{ answer }}</h4>
    </div>

{% endif %}
{% else %}
<div class="arrow one">
    <img src="static/img/arrow_up.png" alt="">
</div>
<div class="arrow two">
    <img src="static/img/arrow_up.png" alt="">
</div>
<h1 class="need" align="center">Вам необходимо зарегестрироваться или войти в аккаунт перед использованием нашего сервиса</h1>
{% endif %}
{% endblock %}